<mat-card>
  <mat-action-list class="button-list">
    <div mat-subheader>Menu</div>
    <button routerLink="/admin" mat-list-item>
      <mat-icon class="icon-button" mat-list-icon>home </mat-icon>Home
    </button>
    <button routerLink="/admin/profile" mat-list-item>
      <mat-icon class="icon-button">account_circle</mat-icon>Profile
    </button>
    <button routerLink="/admin/category" mat-list-item>
      <mat-icon class="icon-button">list</mat-icon>Category
    </button>
    <button routerLink="/admin/add-category" mat-list-item>
      <mat-icon class="icon-button">add-circle-outline</mat-icon>Add Category
    </button>
    <button routerLink="/admin/quiz" mat-list-item>
      <mat-icon class="icon-button">quiz</mat-icon>Quiz
    </button>
    <button routerLink="/admin/add-quiz" mat-list-item>
      <mat-icon class="icon-button">add</mat-icon>Add Quiz
    </button>
    <button routerLink="/admin/category" mat-list-item>
      <mat-icon class="icon-button">logout</mat-icon>Logout
    </button>
  </mat-action-list>
</mat-card>
